# Fazendo o ETL da tabela de estoque

In [1]:
import pandas as pd
import numpy as np

In [9]:
dados = pd.read_csv('Tabela - Estoque.csv')
dados

      ID Produto Data atualização  Quantidade
0              1      1-jan.-2019         432
1              2      1-jan.-2019         412
2              3      1-jan.-2019         417
3              4      1-jan.-2019         438
4              5      1-jan.-2019         416
...          ...              ...         ...
1777          62      1-mar.-2021         597
1778          63      1-mar.-2021         520
1779          64      1-mar.-2021         545
1780          65      1-mar.-2021         621
1781          66      1-mar.-2021         609

[1782 rows x 3 columns]

In [6]:
dados.value_counts("ID Produto")

ID Produto
1     27
50    27
36    27
37    27
38    27
      ..
28    27
29    27
30    27
31    27
66    27
Length: 66, dtype: int64

In [10]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1782 entries, 0 to 1781
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID Produto        1782 non-null   int64
 1   Data atualização  1782 non-null   object
 2   Quantidade        1782 non-null   int64
dtypes: int64(2), object(1)
memory usage: 41.9+ KB

In [11]:
dados.count

<bound method DataFrame.count of       ID Produto Data atualização  Quantidade
0              1      1-jan.-2019         432
1              2      1-jan.-2019         412
2              3      1-jan.-2019         417
3              4      1-jan.-2019         438
4              5      1-jan.-2019         416
...          ...              ...         ...
1777          62      1-mar.-2021         597
1778          63      1-mar.-2021         520
1779          64      1-mar.-2021         545
1780          65      1-mar.-2021         621
1781          66      1-mar.-2021         609

[1782 rows x 3 columns]>

In [12]:
dados

      ID Produto Data atualização  Quantidade
0              1      1-jan.-2019         432
1              2      1-jan.-2019         412
2              3      1-jan.-2019         417
3              4      1-jan.-2019         438
4              5      1-jan.-2019         416
...          ...              ...         ...
1777          62      1-mar.-2021         597
1778          63      1-mar.-2021         520
1779          64      1-mar.-2021         545
1780          65      1-mar.-2021         621
1781          66      1-mar.-2021         609

[1782 rows x 3 columns]

In [15]:
dados.value_counts("Quantidade")

Quantidade
433    27
449    26
407    26
409    26
418    26
       ..
616     1
494     1
612     1
601     1
650     1
Length: 233, dtype: int64

In [23]:
dados.sum(axis=1)

0       433
1       414
2       420
3       442
4       421
       ...
1777    659
1778    583
1779    609
1780    686
1781    675
Length: 1782, dtype: int64

In [25]:
## o comando abaixo identifica quantos ID Produtos tem o valor do nulo

In [24]:
dados[dados['ID Produto'].isnull()].shape[0]

0

In [32]:
dados[dados['Quantidade'].isnull()].shape[0]

0

In [31]:
## quantidade total de produtos no estoque

In [30]:

Total = dados['Quantidade'].sum()
Total

845625

In [34]:
## quantidade total de produtos cadastrados

In [35]:
dados['ID Produto'].count()
dados

      ID Produto Data atualização  Quantidade
0              1      1-jan.-2019         432
1              2      1-jan.-2019         412
2              3      1-jan.-2019         417
3              4      1-jan.-2019         438
4              5      1-jan.-2019         416
...          ...              ...         ...
1777          62      1-mar.-2021         597
1778          63      1-mar.-2021         520
1779          64      1-mar.-2021         545
1780          65      1-mar.-2021         621
1781          66      1-mar.-2021         609

[1782 rows x 3 columns]

In [36]:
Total = dados['ID Produto'].sum()
Total

59697

In [40]:
## quantidade de produtos cadastrados por data de atualização

In [38]:
dados.value_counts("Data atualização")

Data atualização
1-abr.-2019    66
1-jun.-2019    66
1-set.-2019    66
1-out.-2020    66
1-out.-2019    66
1-nov.-2020    66
1-nov.-2019    66
1-mar.-2021    66
1-mar.-2020    66
1-mar.-2019    66
1-mai.-2020    66
1-mai.-2019    66
1-jun.-2020    66
1-jul.-2020    66
1-abr.-2020    66
1-jul.-2019    66
1-jan.-2021    66
1-jan.-2020    66
1-jan.-2019    66
1-fev.-2021    66
1-fev.-2020    66
1-fev.-2019    66
1-dez.-2020    66
1-dez.-2019    66
1-ago.-2020    66
1-ago.-2019    66
1-set.-2020    66
dtype: int64

In [39]:
Total = dados['Data atualização'].sum()
Total

'1-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-jan.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-fev.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-mar.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-abr.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-mai.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jun.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-jul.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-ago.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-set.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-out.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-nov.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-dez.-20191-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-jan.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-fev.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-mar.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-abr.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-mai.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jun.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-jul.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-ago.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-set.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-out.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-nov.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-dez.-20201-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-jan.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-fev.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-20211-mar.-2021'

In [41]:
dados.dtypes

ID Produto           int64
Data atualização    object
Quantidade           int64
dtype: object

In [45]:
dados['Data atualização']

0       1-jan.-2019
1       1-jan.-2019
2       1-jan.-2019
3       1-jan.-2019
4       1-jan.-2019
           ...
1777    1-mar.-2021
1778    1-mar.-2021
1779    1-mar.-2021
1780    1-mar.-2021
1781    1-mar.-2021
Name: Data atualização, Length: 1782, dtype: object

In [50]:
dtypes['Data atualização']

NameError: name 'dtypes' is not defined

In [47]:
dados.value_counts("Data atualização")    
dados

      ID Produto Data atualização  Quantidade
0              1      1-jan.-2019         432
1              2      1-jan.-2019         412
2              3      1-jan.-2019         417
3              4      1-jan.-2019         438
4              5      1-jan.-2019         416
...          ...              ...         ...
1777          62      1-mar.-2021         597
1778          63      1-mar.-2021         520
1779          64      1-mar.-2021         545
1780          65      1-mar.-2021         621
1781          66      1-mar.-2021         609

[1782 rows x 3 columns]