# Fazendo o ETL da tabela de pedidos

In [3]:
import pandas as pd
import numpy as np

## Importando a tabela Pedidos

In [5]:
dados = pd.read_csv('Tabela - Pedidos.CSV', sep = ';')
dados

,ID Pedido,ID Produto,Quantidade,ID Veículo,Status do pedido,Data da compra,Data de entrega,Data previsão,Latitude,Longitude,UF da entrega
0,1,32,3,19,Entregue,1/4/21 21:15,22/01/2021 21:15,23/01/2021 21:15,-22.19,-48.79,SP
1,2,50,9,42,Entregue,1/5/21 0:15,14/01/2021 00:15,25/01/2021 00:15,-22.19,-48.79,SP
2,3,39,3,19,Entregue,1/13/21 15:24,20/01/2021 15:24,02/02/2021 15:24,-20.51,-54.54,MS
3,4,39,1,16,Entregue,1/5/21 12:16,16/01/2021 12:16,23/01/2021 12:16,-6.60,-42.28,PI
4,5,19,7,14,Entregue,1/2/21 22:07,17/01/2021 22:07,18/01/2021 22:07,-22.25,-42.66,RJ
...,...,...,...,...,...,...,...,...,...,...,...
147930,147931,28,2,33,Em trânsito,3/31/21 23:44,Não disponível,15/04/2021 23:44,-5.42,-45.44,MA
147931,147932,36,10,11,Em trânsito,3/31/21 23:45,Não disponível,18/04/2021 23:45,-22.25,-42.66,RJ
147932,147933,28,3,18,Em trânsito,3/31/21 23:46,Não disponível,20/04/2021 23:46,-22.19,-48.79,SP
147933,147934,20,9,32,Entregue,3/31/21 23:49,06/04/2021 23:49,16/04/2021 23:49,-22.19,-48.79,SP
147934,147935,57,10,40,Entregue,3/31/21 23:54,10/04/2021 23:54,17/04/2021 23:54,-18.10,-44.38,MG

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147935 entries, 0 to 147934
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID Pedido         147935 non-null  int64
 1   ID Produto        147935 non-null  int64
 2   Quantidade        147935 non-null  int64
 3   ID Veículo        147935 non-null  int64
 4   Status do pedido  147935 non-null  object
 5   Data da compra    147935 non-null  object
 6   Data de entrega   147935 non-null  object
 7   Data previsão     147935 non-null  object
 8   Latitude          147935 non-null  float64
 9   Longitude         147935 non-null  float64
 10  UF da entrega     147935 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 12.4+ MB

In [7]:
dados.dtypes

ID Pedido             int64
ID Produto            int64
Quantidade            int64
ID Veículo            int64
Status do pedido     object
Data da compra       object
Data de entrega      object
Data previsão        object
Latitude            float64
Longitude           float64
UF da entrega        object
dtype: object

In [8]:
dados.count

<bound method DataFrame.count of         ID Pedido  ID Produto  Quantidade  ID Veículo Status do pedido  \
0               1          32           3          19         Entregue
1               2          50           9          42         Entregue
2               3          39           3          19         Entregue
3               4          39           1          16         Entregue
4               5          19           7          14         Entregue
...           ...         ...         ...         ...              ...
147930     147931          28           2          33      Em trânsito
147931     147932          36          10          11      Em trânsito
147932     147933          28           3          18      Em trânsito
147933     147934          20           9          32         Entregue
147934     147935          57          10          40         Entregue

       Data da compra   Data de entrega     Data previsão  Latitude  \
0        1/4/21 21:15  22/01/2021 21:15  23/01/2021 21:15    -22.19
1         1/5/21 0:15  14/01/2021 00:15  25/01/2021 00:15    -22.19
2       1/13/21 15:24  20/01/2021 15:24  02/02/2021 15:24    -20.51
3        1/5/21 12:16  16/01/2021 12:16  23/01/2021 12:16     -6.60
4        1/2/21 22:07  17/01/2021 22:07  18/01/2021 22:07    -22.25
...               ...               ...               ...       ...
147930  3/31/21 23:44    Não disponível  15/04/2021 23:44     -5.42
147931  3/31/21 23:45    Não disponível  18/04/2021 23:45    -22.25
147932  3/31/21 23:46    Não disponível  20/04/2021 23:46    -22.19
147933  3/31/21 23:49  06/04/2021 23:49  16/04/2021 23:49    -22.19
147934  3/31/21 23:54  10/04/2021 23:54  17/04/2021 23:54    -18.10

        Longitude UF da entrega
0          -48.79            SP
1          -48.79            SP
2          -54.54            MS
3          -42.28            PI
4          -42.66            RJ
...           ...           ...
147930     -45.44            MA
147931     -42.66            RJ
147932     -48.79            SP
147933     -48.79            SP
147934     -44.38            MG

[147935 rows x 11 columns]>

In [12]:
dados['ID Pedido']

0              1
1              2
2              3
3              4
4              5
           ...
147930    147931
147931    147932
147932    147933
147933    147934
147934    147935
Name: ID Pedido, Length: 147935, dtype: int64

## Verificando os dados não nulos

In [13]:
dados.isnull()

,ID Pedido,ID Produto,Quantidade,ID Veículo,Status do pedido,Data da compra,Data de entrega,Data previsão,Latitude,Longitude,UF da entrega
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
147930,False,False,False,False,False,False,False,False,False,False,False
147931,False,False,False,False,False,False,False,False,False,False,False
147932,False,False,False,False,False,False,False,False,False,False,False
147933,False,False,False,False,False,False,False,False,False,False,False
147934,False,False,False,False,False,False,False,False,False,False,False

## Calculando a quantidade de pedidos

In [22]:
dados.value_counts("ID Pedido")

ID Pedido
1         1
98529     1
98621     1
98622     1
98623     1
         ..
49313     1
49314     1
49315     1
49316     1
147935    1
Length: 147935, dtype: int64

## Calculando o status do pedido

In [23]:
dados.value_counts("Status do pedido")

Status do pedido
Entregue       144178
Em trânsito      3757
dtype: int64

In [24]:
dados.value_counts("Quantidade")

Quantidade
1     14978
6     14974
5     14914
3     14850
9     14752
10    14738
4     14729
8     14701
7     14696
2     14603
dtype: int64